@model USCS.Models.Usage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usage1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usage1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Load_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Load_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
