
@{
    ViewBag.Title = "Menu";
}

<div class="jumbotron">
    <h1>USCS System</h1>
    <p class="lead">The USCS system provides a interface to edit and view information in the USCS database</p>
</div>

<h2>
    <li>@Html.ActionLink("Activities", "Index", "Activities")</li>

    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>

    <li>@Html.ActionLink("Documentation Requirements", "Index", "DocumentationRequirements")</li>

    <li>@Html.ActionLink("Durations", "Index", "Durations")</li>

    <li>@Html.ActionLink("ICDs", "Index", "ICDs")</li>

    <li>@Html.ActionLink("Mode Of Deliveries", "Index", "ModeOfDeliveries")</li>

    <li>@Html.ActionLink("Modifiers", "Index", "Modifiers")</li>

    <li>@Html.ActionLink("Modifier Types", "Index", "ModifierTypes")</li>

    <li>@Html.ActionLink("Place Of Services", "Index", "PlaceOfServices")</li>

    <li>@Html.ActionLink("Populations", "Index", "Populations")</li>

    <li>@Html.ActionLink("Procedure Codes", "Index", "ProcedureCodes")</li>

    <li>@Html.ActionLink("Program Service Categories", "Index", "ProgramServiceCategories")</li>

    <li>@Html.ActionLink("Staff Requirements", "Index", "StaffRequirements")</li>

    <li>@Html.ActionLink("Units", "Index", "Units")</li>

    <li>@Html.ActionLink("Usages", "Index", "Usages")</li>
</h2>
