@model IEnumerable<USCS.Models.PlaceOfService>

@{
    ViewBag.Title = "Index";
}

<h2>Place of Services List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.POSCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eff_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thru_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Load_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.POSCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eff_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thru_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Load_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaceOfServiceID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.PlaceOfServiceID })*@
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaceOfServiceID })
        </td>
    </tr>
}

</table>
